.active {
  color: blue;
  font-size: x-large;
}
main {
  width: 500px;
  margin: 10px auto 0 auto;
}

#search {
  padding: 10px;
  width: 100%;
}

#suggestion-area {
  width: 100%;
  border: 1px solid rgba(0, 255, 234, 0.995);
  margin-top: 10px;
  min-height: 100px;
  padding: 5px;
  position: relative;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.progress {
  height: 20px;
  width: 500px;
  background-color: rgb(233, 236, 239);
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.progress div {
  height: 100%;
  background-color: #00c251;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.box {
  border: 1px solid black;
  padding: 10px;
  height: 100px;
  width: 100px;
}
